@import url(header.css);
@import url(footer.css);
@import url(calender.css);
@import url(event.css);
@import url(model.css);

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e8e8e8;
}